@tailwind base;
@tailwind components;
@tailwind utilities;

.active-side-link{
background-color: #948bf4 !important;
color: white !important;
box-shadow: 0px 0px 5px 0px rgba(148,139,244,1) !important;
}

.project-card-info{
    background: linear-gradient(0deg, rgba(16, 223, 214, .653), rgba(187, 70, 255, .653)) !important;
}